/*HEADER*/
.logo {
  width: 100px;
  height: 100px;
}

.titulo {
  font-family: "Times New Roman", Times, serif;
  font-size: 70px;
  background-color: rgb(168, 168, 168);
  height: 100%;
  align-items: center;
}

.boton {
  border: 2px;
  border-style: double;
  font-weight: bold;
  font-size: 25px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: center;
  width: auto;
  height: 50px;
}

.menu {
  background-color: rgb(134, 135, 204);
  height: 100%;
  list-style: none;
  justify-content: space-around;
  padding: 0px;
  height: 50px;
}

.letras {
  color: black;
  font-style: normal;
  text-decoration: none;
}

/*GENERAL*/
body {
  background-image: url(https://img.freepik.com/foto-gratis/fondo-textura-pared-pintada-blanco_53876-138197.jpg?size=626&ext=jpg&ga=GA1.1.187570847.1675342931);
}

/*FOOTER*/
footer {
  bottom: 0px;
  background-color: rgb(134, 135, 204);
  font-size: 20px;
}

/*INDEX*/
.intro {
  margin-top: 30px;
  margin-bottom: 40px;
}

h2 {
  display: flex;
  justify-items: center;
}

p {
  font-size: "22px";
}

.images-1 {
  gap: 20px;
}

.frase {
  font-style: italic;
}

.images-1 {
  display: flex;
  justify-content: space-around;
}

/*SERVICIO*/
.work {
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: "Times New Roman";
}
.work li {
  font-size: 20px;
}

/*PERSONAL*/
.personal {
  justify-items: center;
  display: grid;
}
.personal .imagen1 {
  width: 120px;
  height: auto;
}
.personal .imagen3 {
  width: 200px;
  height: 200px;
}

/*TURNERO*/
.form-1 {
  justify-content: space-around;
}

.form-2 {
  margin: 50px;
  width: 400px;
}

.maps-2 {
  width: 50%;
  height: 50%;
}

/*CONSULTA*/
.form-3 {
  margin: 50px;
  width: 400px;
  flex-direction: column;
}

.text-1 {
  height: 150px;
  width: 400px;
}

/*laptop L*/
@media (max-width: 1260px) {
  /*GENERAL*/
  .titulo {
    font-size: 60px;
  }
}
/*laptop L 1/2*/
@media (max-width: 1100px) {
  /*GENERAL*/
  .titulo {
    font-size: 56px;
  }
}
/*laptop*/
@media (max-width: 1024px) {
  /*GENERAL*/
  .titulo {
    font-size: 50px;
  }
  .images-1 {
    flex-direction: column;
    gap: 20px;
    width: 60%;
    height: 60%;
  }
  /*INDEX*/
  p {
    display: block;
  }
  /*TURNERO*/
  .form-1 {
    align-items: center;
  }
  .form-2 {
    margin: 25px;
  }
}
/*Tablet*/
@media (max-width: 768px) {
  /*GENERAL*/
  .titulo {
    font-size: 40px;
  }
  .boton {
    font-size: 20px;
    height: 40px;
  }
  .menu {
    height: 40px;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
  /*PERSONAL*/
  .personal-pages {
    flex-wrap: wrap;
  }
}
/*mobile*/
@media (max-width: 426px) {
  /*GENERAL*/
  .titulo {
    font-size: 22px;
  }
  .menu {
    flex-direction: column;
    align-items: normal;
    height: auto;
  }
  .boton {
    font-size: 20px;
  }
  /*PERSONAL*/
  .personal img {
    width: 60%;
  }
  /*TURNERO*/
  .form-1 {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  .maps-2 {
    height: 80%;
    width: 80%;
  }
  /*CONSULTA*/
  .form-3 {
    width: auto;
  }
  .text-1 {
    width: auto;
  }
}

/*# sourceMappingURL=main.css.map */
