$fuente: 'Times New Roman' ;
$style-frase: italic ;
$espaciado: space-around ;
$style-parrafo: '22px' ;
@mixin marg-width {
    margin: 50px ;
    width: 400px;
} ;
@import "header";
@import "body";
@import "footer";
@import "index";
@import "servicio";
@import "personal";
@import "turnero";
@import "consulta";
@import "media_quares" ;